@mixin myBtn($px: 12px, $py: 40px) {
    display: inline-block;
    padding: $px $py;
    background-color: #1E3070;
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 5px #0a30bd;
    cursor: pointer;

    &:hover {
        background-color: white;
        color: #1E3070;
        border: 1px solid #1e307091;
        outline: 1px solid #0a31bdd2;
        transition: .2s all linear;

    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: linear-gradient(45deg, #1e30700a, #7d99ff3b, #1e307002);
        background-position: center center;
        background-size: 100% 100%;
        opacity: 0;
        transition-delay: .2s;
        transition: .2s all linear;
    }

    &:hover::after {
        width: 100%;
        opacity: 1;
    }
}

.myBtn span {
    position: relative;
    z-index: 2;
}

.traet_heading {
    width: 100%;
    .treat_heading_wrapper {
        width: 100%;
        height: fit-content;
        padding: 48px;
        background-color: rgb(228, 250, 214);
        border: 1px solid #6dc31ca8;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;
        z-index: 3;

        h2 {
            width: fit-content;
            font-size: 68px;
        }

        .line {
            width: 100%;
            max-width: 320px;
            height: 5px;
            background: radial-gradient(#6DC31C, #6dc31c75, #6dc31c17, #6dc31c00);
            border-radius: 50%;
        }

        p {
            width: fit-content;
        }
    }
}

@media screen and (max-width:576px) {
    .traet_heading {
        .treat_heading_wrapper {
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            h2 {
                width: fit-content;
                font-size: 36px;
            }

            .line {
                width: 100%;
                max-width: 320px;
                height: 5px;
                background: radial-gradient(#6DC31C, #6dc31c75, #6dc31c17, #6dc31c00);
                border-radius: 50%;
            }

            p {
                width: fit-content;
            }
        }
    }
}

@media screen and (min-width:576px) {
    .traet_heading {
        .treat_heading_wrapper {
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;

            h2 {
                width: fit-content;
                font-size: 36px;
            }

            .line {
                width: 100%;
                max-width: 320px;
                height: 5px;
                background: radial-gradient(#6DC31C, #6dc31c75, #6dc31c17, #6dc31c00);
                border-radius: 50%;
            }

            p {
                width: fit-content;
            }
        }
    }
}

@media screen and (min-width:1024px) {
    .traet_heading {
        .treat_heading_wrapper {
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            gap: 20px;

            h2 {
                width: fit-content;
                font-size: 48px;
            }

            .line {
                width: 100%;
                max-width: 220px;
                height: 5px;
                background: radial-gradient(#6DC31C, #6dc31c75, #6dc31c17, #6dc31c00);
                border-radius: 50%;
            }

            p {
                width: fit-content;
                max-width: 40%;
            }
        }
    }
}

