h1{
    font-size: clamp(2rem, 5vw, 4rem);
    color: white;
}
h2 {
    font-size: 48px;
    color: var(--primery-color);
    font-weight: 700;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
    color: var(--primary-color);
}
p{
    margin: 0 0 0 0;
}
