// Main Colors
$primary-color: #1E3070;
$primary-color2: #6DC31C;
$secondary-color: #E9EAF173;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

// Neutral Colors
$white: #ffffff;
$black: #000000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Text Colors
$text-primary: $gray-900;
$text-secondary: $gray-600;
$text-light: $gray-500;

// Background Colors
$bg-light: $gray-100;
$bg-dark: $gray-800;