#about_practice {
    width: 100%;
    padding-top: 152px;

    .about_wrapper_container {
        width: 100%;
        padding: 48px;
        background-color: #f0f9e87c;

        .about_banner {
            width: 100%;
            margin-bottom: 32px;

            .aboutBannerImage {
                width: 100%;
                aspect-ratio: 1674/759;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    border-radius: 20px;
                }
            }
        }

        .about_content_wraper {
            width: 100%;

            .about_content {
                h3 {
                    font-size: 44px;
                    margin-bottom: 32px;
                }

                .btn_wrapper {
                    text-align: center;
                    padding: 32px 0;

                    .myBtn{
                        @include myBtn(12px , 40px);
                    }
                }
            }

            .about_content_list {
                display: flex;
                flex-direction: column;
                gap: 32px;
                list-style-type: none;
                margin-top: 30px;
                li {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    h4 {
                        font-size: 32px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:576px) {
    #about_practice{
        padding-top: 80px;
        .about_wrapper_container{
            padding: 48px 20px;
        }
    }
}
@media screen and (min-width:576px) {
    #about_practice{
        padding-top: 80px;
        .about_wrapper_container{
            padding: 48px 20px;
        }
    }
}
@media screen and (min-width:1024px) {
    #about_practice{
        padding-top: 90px;
        .about_wrapper_container{
            padding: 48px ;
        }
    }
}
@media screen and (min-width:1400px) {
    #about_practice{
        padding-top: 120px;
        .about_wrapper_container{
            padding: 48px;
        }
    }
}