#About_Our_Physicians {
    width: 100%;
    background-color: #E9EAF1;
    .About_Our_Physicians_wrapper {
        width: 100%;
    }
}

.Book_Appointment_wrapper {
    width: 100%;
    background-color: #F0F9E880;
    padding: 48px;

    .book_appintment_image {
        width: 100%;

        img {
            width: 100%;
            aspect-ratio: 1674/759;
            object-fit: fill;
            border-radius: 20px;
        }
    }

    h4 {
        font-size: 44px;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 32px;
    }

    .book_appointment_btn_wrapper {
        text-align: center;

        button {
            border: none;
            outline: none;
            padding: 22px 85px;
            background-color: var(--primary-color);
            color: white;
        }
    }
}

@media screen and (max-width:576px) {
    #About_Our_Physicians{padding-top: 30px;}
    .Book_Appointment_wrapper {
        padding: 48px 20px;
        h4 {
            font-size: 24px;
            font-weight: 700;
            color: var(--primary-color);
            margin-bottom: 32px;
        }
    }
}
@media screen and (min-width:576px) {
    .Book_Appointment_wrapper {
        padding: 48px 20px;
        h4 {
            font-size: 24px;
            font-weight: 700;
            color: var(--primary-color);
            margin-bottom: 32px;
        }
    }
}
@media screen and (min-width:768px) {
    .Book_Appointment_wrapper {
        padding: 48px;
        h4 {
            font-size: 34px;
            font-weight: 700;
            color: var(--primary-color);
            margin-bottom: 32px;
        }
    }
}
@media screen and (min-width:1024px) {
    .Book_Appointment_wrapper {
        padding: 48px;
        h4 {
            font-size: 44px;
            font-weight: 700;
            color: var(--primary-color);
            margin-bottom: 32px;
        }
    }
}