@import '../commonComponent';

.contactBar {
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding: 12px;

    .contact_wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 32px;

        span {
            font-size: 16px;
        }
    }
}

header#header {
    width: 100%;
    position: absolute;
    top: 95px;
    left: 0;
    z-index: 999;

    nav {
        width: 100%;
        margin: 0 auto;

        .nav_wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navLogo {
                aspect-ratio: 148/148;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .nav_menu {
                .nav_menu_list {
                    width: fit-content;
                    background-color: #E9EAF1;
                    background-color: #E9EAF1;
                    border: 1px solid var(--primary-color);
                    border-radius: 12px;
                    display: flex;
                    gap: 16px;

                    .nav_menu_list_item {
                        background-color: transparent;
                        padding: 16px 22px;
                        color: var(--primary-color);

                        a {
                            font-weight: 600;
                        }

                        border-radius: 8px;

                        &:hover {
                            background: linear-gradient(145deg, #213ea7, #213ea7, #395CD6);
                        }

                        &:hover a {
                            color: white;
                        }
                    }

                    .nav_menu_list_item.active {
                        background-color: var(--primary-color);
                    }
                }
            }

            .nav_Buttons {
                display: flex;
                gap: 12px;
                align-items: center;
                justify-content: flex-end;

                .myBtn {
                    @include myBtn(20px, 33px);

                    span {
                        font-size: 18px;
                    }
                }

                .mobile_menu_icon_wrapper {
                    display: none;
                    border: 1px solid white;
                    padding: 5px 5px 0 5px;
                    box-shadow: inset 0 0 5px 0 #708df7b2;
                    border-radius: 5px;
                    background-color: #213ea7;
                }
            }
        }
    }

    #nav_menu_mobile {
        position: absolute;
        top: -5px;
        left: 0;
        width: 50%;
        height: 100%;
        min-height: 100vh;
        background-color: var(--primary-color);
        z-index: 4;

        .mobileMenuWrapper {
            padding: 20px 25px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .mobile_nav_menu_list_item {
                    border-bottom: 1px solid #213ea7;

                    a {
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {

    .contactBar {
        background-color: var(--primary-color);
        color: white;
        width: 100%;
        padding: 12px;

        .contact_wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 12px;

            div {
                display: flex;
                align-items: center;
                gap: 6px;

                span {
                    font-size: 12px;
                }
            }
        }
    }

    header#header {
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;

        nav {
            width: 100%;
            margin: 0 auto;
            padding: 0 10px;

            .nav_wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navLogo {
                    width: 80px;
                    height: 80px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .nav_menu {
                    display: none;
                }

                .nav_Buttons {
                    .myBtn {
                        @include myBtn(8px, 10px);

                        span {
                            font-size: 16px;
                        }
                    }

                    .mobile_menu_icon_wrapper {
                        display: block;
                        background-color: #213ea7;
                    }
                }
            }
        }

        #nav_menu_mobile {
            position: absolute;
            top: -5px;
            left: 0;
            width: 50%;
            height: 100%;
            min-height: 100vh;
            background-color: var(--primary-color);
            z-index: 4;

            .mobileMenuWrapper {
                padding: 20px 25px;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .mobile_nav_menu_list_item {
                        border-bottom: 1px solid #213ea7;

                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {

    .contactBar {
        background-color: var(--primary-color);
        color: white;
        width: 100%;
        padding: 12px;

        .contact_wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 12px;

            div {
                display: flex;
                align-items: center;
                gap: 6px;

                span {
                    font-size: 12px;
                }
            }
        }
    }

    header#header {
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;

        nav {
            width: 100%;
            margin: 0 auto;
            padding: 0 10px;

            .nav_wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navLogo {
                    width: 80px;
                    height: 80px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .nav_menu {
                    display: none;

                }

                .nav_Buttons {
                    .myBtn {
                        @include myBtn(12px, 23px);

                        span {
                            font-size: 16px;
                        }
                    }

                    .mobile_menu_icon_wrapper {
                        display: block;
                        background-color: #213ea7;
                    }
                }
            }
        }

        #nav_menu_mobile {
            position: absolute;
            top: -5px;
            left: 0;
            width: 50%;
            height: 100%;
            min-height: 100vh;
            background-color: var(--primary-color);

            #nav_menu_mobile {
                position: absolute;
                top: -5px;
                left: 0;
                width: 50%;
                height: 100%;
                min-height: 100vh;
                background-color: var(--primary-color);
                z-index: 4;

                .mobileMenuWrapper {
                    padding: 20px 25px;

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .mobile_nav_menu_list_item {
                            border-bottom: 1px solid #213ea7;

                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {

    .contactBar {
        background-color: var(--primary-color);
        color: white;
        width: 100%;
        padding: 12px;

        .contact_wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 18px;

            div {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    font-size: 14px;
                }
            }
        }
    }

    header#header {
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;

        nav {
            width: 100%;
            margin: 0 auto;
            padding: 0 8px;

            .nav_wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navLogo {
                    width: 80px;
                    height: 80px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .nav_menu {
                    display: block;

                    .nav_menu_list {
                        width: fit-content;
                        background-color: #E9EAF1;
                        border: 1px solid var(--primary-color);
                        border-radius: 12px;
                        display: flex;
                        gap: 6px;

                        .nav_menu_list_item {
                            background-color: transparent;
                            padding: 8px 8px;
                            color: var(--primary-color);

                            a {
                                font-weight: 600;
                                font-size: 14px;
                            }

                            border-radius: 8px;

                            &:hover {
                                background: linear-gradient(145deg, #213ea7, #213ea7, #395CD6);
                            }

                            &:hover a {
                                color: white;
                            }
                        }

                        .nav_menu_list_item.active {
                            background-color: var(--primary-color);
                        }
                    }
                }

                .nav_Buttons {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    justify-content: flex-end;

                    .myBtn {
                        @include myBtn(12px, 20px);

                        span {
                            font-size: 14px;
                        }
                    }

                    .mobile_menu_icon_wrapper {
                        display: none;

                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .contactBar {
        background-color: var(--primary-color);
        color: white;
        width: 100%;
        padding: 12px;

        .contact_wrapper {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 28px;

            div {
                display: flex;
                align-items: center;
                gap: 8px;

                span {
                    font-size: 16px;
                }
            }
        }
    }

    header#header {
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;

        nav {
            width: 100%;
            margin: 0 auto;
            padding: 0 8px;

            .nav_wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navLogo {
                    width: 80px;
                    height: 80px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .nav_menu {
                    display: block;

                    .nav_menu_list {
                        width: fit-content;
                        background-color: #E9EAF1;
                        border: 1px solid var(--primary-color);
                        border-radius: 12px;
                        display: flex;
                        gap: 6px;

                        .nav_menu_list_item {
                            background-color: transparent;
                            padding: 8px 12px;

                            a {
                                color: var(--primary-color);
                                font-weight: 600;
                                font-size: 14px;
                            }

                            border-radius: 8px;

                            &:hover {
                                background: linear-gradient(145deg, #213ea7, #213ea7, #395CD6);
                            }

                            &:hover a {
                                color: white;
                            }
                        }

                        .nav_menu_list_item.active {
                            background-color: var(--primary-color);
                        }
                    }
                }

                .nav_Buttons {
                    width: fit-content;
                    display: flex;
                    gap: 12px;
                    align-items: center;

                    button {
                        border: none;
                        outline: none;
                        background-color: var(--primary-color);
                        color: white;
                        padding: 10px 14px;
                        border-radius: 8px;
                        font-size: 12px;
                    }

                    .mobile_menu_icon_wrapper {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .contactBar {
        background-color: var(--primary-color);
        color: white;
        width: 100%;
        padding: 12px;

        .contact_wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 32px;

            span {
                font-size: 16px;
            }
        }
    }

    header#header {
        width: 100%;
        position: absolute;
        top: 65px;
        left: 0;

        nav {
            width: 100%;
            margin: 0 auto;

            .nav_wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navLogo {
                    width: 120px;
                    height: 120px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .nav_menu {
                    .nav_menu_list {
                        width: fit-content;
                        background-color: #E9EAF1;
                        border: 1px solid var(--primary-color);
                        border-radius: 12px;
                        display: flex;
                        gap: 16px;

                        .nav_menu_list_item {
                            background-color: transparent;
                            padding: 16px 22px;

                            a {
                                color: var(--primary-color);
                                font-weight: 600;
                                font-size: 16px;
                            }

                            border-radius: 8px;

                            &:hover {
                                background: linear-gradient(145deg, #213ea7, #213ea7, #395CD6);
                            }

                            &:hover a {
                                color: white;
                            }
                        }

                        .nav_menu_list_item.active {
                            background-color: var(--primary-color);
                        }
                    }
                }

                .nav_Buttons {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    justify-content: flex-end;

                    .myBtn {
                        @include myBtn(20px, 33px);

                        span {
                            font-size: 18px;
                        }
                    }

                    .mobile_menu_icon_wrapper {
                        display: none;
                        border: 1px solid white;
                        padding: 5px 5px 0 5px;
                        box-shadow: inset 0 0 5px 0 #708df7b2;
                        border-radius: 2px;
                    }
                }
            }
        }
    }
}