#ofice_location {
    width: 100%;
    padding-top: 120px;

    @media (min-width: 1400px) {
        padding-top: 152px;
    }

    .office_location_wrapper {
        width: 100%;

        .office_location_heading_wpapper {}

        .office_location_map_wpapper {
            width: 100%;
            .satelite_map{
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .office_location_map_list {
                width: 100%;
                padding: 20px;
                display: grid;
                gap: 20px;
                /* ==Mobile (1 column)== */
                grid-template-columns: 1fr;

                /* ==Tablet (2 columns)== */
                @media (min-width: 768px) {
                    grid-template-columns:  repeat(2 , 1fr);
                }

                

                li {
                    width: 100%;
                    height: 100%;

                    .map_card {
                        aspect-ratio: 570 / 306;

                        iframe {
                            width: 100%;
                            height: 100%;
                            border-radius: 8px;
                        }

                        p {
                            color: var(--primary-color);
                            font-weight: 600;
                            padding: 5px 0;
                        }
                    }
                }
            }
        }

    }
}